.pod {
    margin: 10px;
    padding: 20px;
    border-radius: 45px 15px;
    float: left;
}

#search {
    position: relative;
    height: 200px;
    width: 400px;
    background-color: green;
}

#search #results .result {
    padding-top: 10px;
}

#search #results {
    position: absolute;
    left: 500px;
    top: 0;
    width: 500px;
    height: 500px;
}

#search div p {
    margin: 0;
    padding: 0;
}

#search div p span {
    color: cyan;
}

#search button {

}

#search button.selected {
    color: red;
}


#recs {
    height: 400px;
    width: 400px;
    background-color: yellow;
    overflow: hidden;
    padding: 0;
}

#social {
    height: 300px;
    width: 300px;
    background-color: red;
}

#most-popular {
    height: 400px;
    width: 500px;
    background-color: blue;
}

.hide {
    display: none;
}